[submodule "HI-CGRA-Emu"]
	path = HI-CGRA-Emu
	url = https://github.com/chaozhang2000/HI-CGRA-Emu.git
[submodule "HI-CGRA-Mapper"]
	path = HI-CGRA-Mapper
	url = https://github.com/chaozhang2000/HI-CGRA-Mapper.git
[submodule "HI-CGRA-Workbench"]
	path = HI-CGRA-Workbench
	url = https://github.com/chaozhang2000/HI-CGRA-Workbench.git
[submodule "HI-CGRA-Generator"]
	path = HI-CGRA-Generator
	url = https://github.com/chaozhang2000/HI-CGRA-Generator.git
[submodule "HI-CGRA-Sim"]
	path = HI-CGRA-Sim
	url = https://github.com/chaozhang2000/HI-CGRA-Sim.git
